@charset "UTF-8";
/**
 * 
 * @authors xiangjm (xiangjm@seaway.net.cn)
 * @date    2019-03-12 17:54:54
 * @version $Id$
 */
/**
 * 123
 * @authors xiangjm (xiangjm@seaway.net.cn)
 * @date    2019-03-12 17:54:29
 * @version $Id$
 */
html,
body,
div,
ul,
li,
ol,
table,
em,
span,
i {
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
  font-size: 5vw;
}
body {
  font-size: 0.8rem;
}
ul,
li {
  list-style: none;
}
.login > h5 {
  color: #000;
  font-size: 1rem;
  margin: 2rem;
  text-align: center;
}
.login-list {
  margin: 0 auto;
  text-align: center;
}
.login-item {
  margin: 0.5rem 1rem;
  overflow: hidden;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
.login-item label {
  margin-right: 0.5rem;
  display: inline-block;
  width: 5rem;
}
.login-item input {
  width: calc(95%);
  width: -webkit-calc(95%);
}
